
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no" media="screen">
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no">
    <title>搜索_麻涌旅游攻略</title>
    <meta name="keywords" content="麻涌旅游" />
    <meta name="description" content="尽享麻涌旅游资讯" />
    <link href="http://mayongtour.ddtui.com/App/Tpl/Public/Style/morecityscen.css" type="text/css" rel="stylesheet">
    <style>
        .sub{border:none; background: url(http://mayongtour.ddtui.com/App/Tpl/Public/Images/sousou3.jpg) no-repeat; width: 19%;height: 37px; float: left;background-position: center;background-size:
                30px;}
        .result{margin:0px 20px;}
        .box{position: relative;height: 85px;padding:15px 0px 15px 95px;border-bottom: 1px solid #ccc;}
        .box .title{color: #666;line-height: 25px;white-space: nowrap;text-overflow: ellipsis;width: 100%;overflow: hidden;}
        .box .area{color: #999;line-height: 20px;font-size: 13px;height: 40px;}
        .box .time{color: #ACC0D5;line-height: 20px;font-size: 14px;}
        .box .bg{width:85px;height: 85px;position: absolute;left: 0;top: 15px;}
        #searchPage .result p {
            line-height: 40px;
            padding: 0px 2px;
            border-bottom: 1px #b6b6b6 solid;
            width: 100%;
        }
    </style>
</head>

<body>
<div id="container">
    <div id="header" style="background: #ffffff">
        <div class="search">
            <div class="searchBar">
                <form action="/machong/index/search" method="post">
                    <a class="searchBtn"></a>
                    <input id="searchtxt" type="text" name="keyword" class="searchbox" value="" style="background: #eeeeee">
                    <a class="closeBtn"></a>
                    <input type="submit" class="sub" value="" />
                </form>
            </div>
        </div>
    </div>
    <div id="searchPage">
        <h3>搜索结果</h3>
        <div class="result" style="border: 1px solid rgb(203, 201, 192);">
            <div class="box">
                <a href="http://mayongtour.ddtui.com/article/628.html">
                    <img class="bg" src="http://mayongtour.ddtui.com/Public/Uploads/Article/20160726/57970691d569e.jpg">
                    <p class="title" style="border-bottom: none;position: relative;bottom: 17px;">中储粮油</p>
                    <div class="area" style="position: relative;bottom: 17px;">电话：0769-88236688<br/>
                        地址：东莞市麻涌镇新沙港工业园内</div>
                </a>
            </div><div class="box">
            <a href="http://mayongtour.ddtui.com/article/632.html">
                <img class="bg" src="http://mayongtour.ddtui.com/Public/Uploads/Article/20160721/579070aaa9569.jpg">
                <p class="title" style="border-bottom: none;position: relative;bottom: 17px;">岭南水乡文化旅游小镇规划蓝图</p>
                <div class="area" style="position: relative;bottom: 17px;">本项目打造成为集观光、休闲、度假、体验为一体岭南水乡文化小镇</div>
            </a>
        </div><div class="box">
            <a href="http://mayongtour.ddtui.com/article/626.html">
                <img class="bg" src="http://mayongtour.ddtui.com/Public/Uploads/Article/20160726/57972df5ab2cf.png">
                <p class="title" style="border-bottom: none;position: relative;bottom: 17px;">肥仔秋腊肠                                                                                                                                                                                                                                                          </p>
                <div class="area" style="position: relative;bottom: 17px;">电话：0769-88821537<br/>
                    地址：东莞市麻涌镇东环路新基路段</div>
            </a>
        </div><div class="box">
            <a href="http://mayongtour.ddtui.com/article/631.html">
                <img class="bg" src="http://mayongtour.ddtui.com/Public/Uploads/Article/20160721/579043f7b8309.jpg">
                <p class="title" style="border-bottom: none;position: relative;bottom: 17px;">马滘河花海漂游</p>
                <div class="area" style="position: relative;bottom: 17px;">马滘风韵、田连阡陌、鱼翔浅底、芰荷飘香、蒹葭苍苍、天人融洽</div>
            </a>
        </div><div class="box">
            <a href="http://mayongtour.ddtui.com/article/627.html">
                <img class="bg" src="http://mayongtour.ddtui.com/Public/Uploads/Article/20160714/578755d63e0e2.jpg">
                <p class="title" style="border-bottom: none;position: relative;bottom: 17px;">珠三角汽车博览中心</p>
                <div class="area" style="position: relative;bottom: 17px;">电话：0769-88223338<br/>
                    地址：东莞市麻涌镇广麻公路一号
                </div>
            </a>
        </div><div class="box">
            <a href="http://mayongtour.ddtui.com/article/633.html">
                <img class="bg" src="http://mayongtour.ddtui.com/Public/Uploads/Article/20160714/57876395e5246.jpg">
                <p class="title" style="border-bottom: none;position: relative;bottom: 17px;">印象水乡                                                                                                                                                                                                                                                           </p>
                <div class="area" style="position: relative;bottom: 17px;">地址：广东省东莞市麻涌镇兴华路西侧<br/>
                    电话：0769—88826666</div>
            </a>
        </div><div class="box">
            <a href="http://mayongtour.ddtui.com/article/629.html">
                <img class="bg" src="http://mayongtour.ddtui.com/Public/Uploads/Article/20160721/57908ca28a07e.jpg">
                <p class="title" style="border-bottom: none;position: relative;bottom: 17px;">广东中远船务工程有限公司</p>
                <div class="area" style="position: relative;bottom: 17px;">电话：0769-88286988<br/>
                    地址：广东省东莞市大盛村润丰路</div>
            </a>
        </div><div class="box">
            <a href="http://mayongtour.ddtui.com/article/902.html">
                <img class="bg" src="http://mayongtour.ddtui.com/Public/Uploads/Article/20160726/5796d31c15ebd.png">
                <p class="title" style="border-bottom: none;position: relative;bottom: 17px;">东莞市中小学社会实践基地      </p>
                <div class="area" style="position: relative;bottom: 17px;">地址：现代侦查技能实战训练基地（麻涌镇公安分局旁）<br/>
                    电话:0769—88030068</div>
            </a>
        </div>			</div>

    </div>
</div>
<script src="http://mayongtour.ddtui.com/App/Tpl/Public/Js/jquery-1.10.2.min.js" type="text/javascript"></script>
<script>
    $("#searchPage").show();
    $('.closeTxt').show();
</script>
</body>
</html> 
