{include file="$public_header" title="编辑模板"}

<form action="/admin/template/update" enctype="multipart/form-data" method="post" class="definewidth m20">
    <input type="hidden" name="id" value="{$data.id}" />
    <table class="table table-bordered table-hover ">
        <tr>
            <td width="15%" class="tableleft">分类</td>
            <td>
                <select name="category_id">
                    <option value="{$my_category_id}">{$my_category_title}</option>
                    {volist name="category" id="list" }
                    <option value="{$list.id}">{$list.title}</option>
                    {/volist}
                </select>
            </td>
        </tr>
        <tr>
            <td width="10%" class="tableleft">排序</td>
            <td><input type="text" name="sort" value="{$data.sort}"/></td>
        </tr>
        <tr>
            <td width="10%" class="tableleft">名称</td>
            <td><input type="text" name="title" value="{$data.title}"/></td>
        </tr>
        <tr>
            <td width="10%" class="tableleft">标签</td>
            <td><input type="text" name="tag" value="{$data.tag}"/></td>
        </tr>
        <tr>
            <td class="tableleft">状态</td>
            <td >
                <input type="radio" name="status" value="1" checked/> 启用
                <input type="radio" name="status" value="0" /> 禁用
            </td>
        </tr>
        <tr>
            <td class="tableleft"></td>
            <td>
                <button type="submit" class="btn btn-primary">保存</button>
                <button type="button" class="btn btn-success" name="backid" id="backid">返回列表</button>
            </td>
        </tr>
    </table>
</form>

{include file="$public_footer"}