<header class="navbar navbar-primary">
    <h2 class="navbar-title navbar-center">[title]</h2>
    <div class="navbar-nav navbar-left">
        <a class="navbar-nav-item" href="[back_url]">
            <span class="icon icon-left-nav navbar-icon navbar-icon-sibling-of-title"> </span>
            <span class="navbar-nav-title">返回</span>
        </a>
    </div>

    {if ( $right_menu.status == true)}
    <div class="navbar-nav navbar-right">
        <a href="{$right_menu.menu_url}" class="navbar-nav-item">
            <span class="icon icon-plus"></span>
            <span class="navbar-nav-title">{$right_menu.menu_title}</span>
        </a>
    </div>
    {/if}
</header>