.header_bar{
    background-color: #333333;
    height: 50px;
    width: 100%;
}
.header_bar_left{
    float: left;
    font-size:16px;
    line-height:50px;
    color: #e1e1e1;
    width: 350px;
    padding-left: 40px;
}
.header_bar_left a{
     font-size:16px;
     line-height:50px;
     color: #e1e1e1;
 }

.header_bar_right{
    float: right;
    font-size:16px;
    line-height:50px;
    color: #e1e1e1;
    text-align:right;
    width: 450px;
}
.header_info{
    background-color: #1b4544;
    height: 130px;
    width: 100%;
}
.header_info_left{
    float: left;
    width: 250px;
    height: 80px;
}
.header_info_left img{
    margin-top: 28px;
}
.header_info_left a{
    font-size:16px;
    line-height:50px;
    color: #e1e1e1;
}
.header_info_right{
    float: right;
    font-size:20px;
    line-height:50px;
    color: #ffffff;
    text-align:right;
    width: 450px;
}
.header_info_right a{
    font-size:20px;
    line-height:50px;
    color: #e1e1e1;
}

.content{
    padding-top: 40px;
    height: 600px;
    width: 100%;
    background-color: #cccccc;
}
.content_left{
    float: left;
    width: 320px;
}
.content_right{
    float: left;
    width: 690px;
}
.content_qrcode{
    float: left;
    width: 110px;
}
.video{
    width: 100%;
    background-color: #e6e6e6;
}
.footer{
    padding-top: 10px;
    font-size:12px;
    line-height:20px;
    color: #d6d4d4;
    text-align:center;
    height: 100px;
    background-color: #333333;
}
.imod_title{
    padding-top: 10px;
    font-size:35px;
    line-height:50px;
    color: #000000;
}
.video_list_item{
    height: 950px;
}
.vlist_mod{
    font-size:14px;
}
.vlist_mod li{
    float: left;
    width: 200px;
    height: 170px;
    list-style:none;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 8px;
}
.vlist_mod li h3{
    font-size:12px;
}
.clearfix{

}
.v_list_pic{
    width: 200px;
    height: 120px;
}
.v_list_pic img{
    width: 200px;
    height: 120px;
}